li:nth-child(2n) {
    color: green;
}

li:nth-child(3) {
    background-color: lightblue;
}

li:first-child {
    border-top: 1px solid green ;
}

li:last-child {
    border-bottom: 5px dotted blue ;
}
 
li:nth-child(3) a , li:nth-child(5) a {
    color: red;
}

li:nth-child(5) a:hover {
    color: gray;
}

li:nth-child(3) , li:nth-child(5) {
    list-style: none;
}

input[type="text"]:active {
    background-color: gray;
}

div:nth-child(2) input[type="text"] {
    color : blue;
}
div:first-child input[type="text"] {
    color : green;
}
div:nth-child(3) input[type="password"] {
    color : transparent;
}

input[type="email"]::selection {
    background-color: yellow;
    color: pink;
}

input[type="submit"]:hover {
    color: red ;
}