body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(28, 236, 236);
}

header {
    background-color: rgb(11, 54, 0);
    height: 70px;
    display: flex;
}

header a {
    color: #E0FFFF;
    padding: 14px 16px;
    font-size: 20px;
}

header a:hover {
    background-color: #dddddd;
    color: black
}

#home {
    background-color: #4CAF50 ;
    color: white;
}

#home, #news, #contact, #about {
    flex-grow: 2;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly ;
    background-color: rgba(11, 54, 0,0.7);
}

#section1, #section2, #section3 {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

#section1 {
    background-image: url("poza1.jpg") ;

}

#section2 {
    background-image: url("poza2.png") ;
}

#section3 {
    background-image: url("poza3.jpg") ;
}

footer {
    background-color: rgb(11, 54, 0);
    position: relative;
    top: 128px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: powderblue;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
}

li {
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-left: 60px;
    color: white;
}